.navbar {
    background-color: #673ab7;
    border-color: #E7E7E7;
	
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .unit-card {
    display: inline-block;
  }

#unitTable_filter { 
  display: none;
}

.unitChart {
	min-height: 200px;
	min-width: 200px;
	border: 1px solid black;
	text-decoration: none;
	font-size: 12px;
	color: #000;
}

.unitChart h1 {
	font-size: 1.5em;
}
