.navbar {
	background-color: #673ab7;
	border-color: #E7E7E7;
}

.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
}

.productInfo {
	box-sizing: border-box;
	max-width: 100%;
}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.container--nopadding {
	width: 100%;
	padding: 0;
}

.unit-row {
	overflow-x: scroll;
	overflow-y: hidden;
	flex-wrap: nowrap;
	width: auto;
}

.unit-card {
	box-sizing: border-box;
	padding-right: 0;
	margin-right: 2px;
	max-width: 230px
}

.unit-card-selected {
	border-width: 5px;
}

#tableArea .dataTables_filter { 
	display: none;
}

.unitChart h1 {
	font-size: 1.5em;
}

.lessonTitle {
	padding: 20px 0 5px 15px;
}

.belowTarget {
	position: relative;
	width: 20px;
}

.fa-star {
	color: #5cb85c;
  padding-right: 10px;
}

.far.fa-star {
	color: #f4c63d;
}

.fa-star-half {
	color: #f4c63d;
	position: absolute;
	top: 0.2em;
	left: 0em;
}

.fa-circle {
	color: #C0C0C0;
  padding-right: 10px;
}

.fa-exclamation-triangle {
	color: #f4c63d;
  padding-right: 10px;
}

.fa-check-circle {
  color: #f4c63d;
  padding-right: 10px;
} 

.summaryStats i {
	width: 20px;
	margin-right: 10px;
}

.unitlink, .unitlink:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.productSummary {
  padding-bottom: 20px;
}

.productSummaryItems {
	display: block;
  padding-right: 10px;
	margin: 16px 0;
}
