.navbar {
	background-color: #673ab7;
	border-color: #E7E7E7;
}

.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.unit-card {
	display: inline-block;
}

#unitTable_filter { 
	display: none;
}

.unitChart h1 {
	font-size: 1.5em;
}

.fa-star {
	color: #5cb85c;
}

.badge-below {
	color: #f4c63d;
}

.unitlink, .unitlink:hover {
	text-decoration: none;
	color: #000;
}

/* Bootstrap overrides below */

.container-fluid {
	overflow-x: scroll;
	overflow-y: hidden;
}

.unit-row {
	flex-wrap: nowrap;
}
